/*
 * Dracula Theme for Hexo
 * Borrowed from https://github.com/isagalaev/highlight.js/blob/master/src/styles/dracula.css
 * Converted to Stylus by SharpShark28 http://github.com/sharpshark28
 * Original https://github.com/zenorocha/dracula-theme
 */

.highlight
  .code
    color: #f8f8f2

    .keyword,
    .selector-tag,
    .literal,
    .section,
    .link
      color: #8be9fd

    .function .keyword
      color: #ff79c6

    .subst
      color: #f8f8f2

    .string,
    .title,
    .name,
    .type,
    .attribute,
    .symbol,
    .bullet,
    .addition,
    .variable,
    .template-tag,
    .template-variable
      color: #f1fa8c

    .comment,
    .quote,
    .deletion,
    .meta
      color: #6272a4

    .keyword,
    .selector-tag,
    .literal,
    .title,
    .section,
    .doctag,
    .type,
    .name,
    .strong
      font-weight: bold

    .emphasis
      font-style: italic
